<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#/account">Back</a></li>
                <li class="active">Buying Information</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <label class="text-danger" ng-bind="vm.categoryInfoMessage"></label>
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default" ng-repeat="cat in vm.categories">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="javascript:void(0)" ng-click="vm.GotoCategoryPage(cat.Id)">
                                        <span class="badge pull-right"></span>
                                        {{cat.Name}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{cat.Name}}" class="">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="subcategory in cat.SubCategories">
                                            <a href="javascript:void(0)" ng-click="vm.GotoCategoryPage(subcategory.Id)">{{subcategory.Name}}</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!--/category-products-->

                </div>
            </div>
            <div class="col-sm-9">
                <div class="table-responsive cart_info">
                    <label class="text-danger" ng-bind="vm.buyerInfoMessage"></label>
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="description">Order Description</td>
                                <td class="description">Product Name
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unit Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="buyInfo in vm.buyInfoList">
                                <td class="cart_description" style="width: 30%;">
                                    <h4>Date: {{buyInfo.OrderDate}}</h4>
                                    <h4>Quantity: {{buyInfo.Quantity}}</h4>
                                    <h4>Total Price: ৳ {{buyInfo.TotalPrice}}</h4>
                                </td>
                                <td class="cart_description" style="width: 70%;">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr ng-repeat="buy in buyInfo.Products">
                                                <td class="cart_description" style="width: 60%;">
                                                    <h4><a ng-href="#/productDetails/{{buy.Id}}">{{buy.Name}}</a></h4>
                                                </td>
                                                <td class="cart_price" style="width: 20%;">
                                                    <p>৳ {{buy.UnitPrice}}</p>
                                                </td>
                                                <td class="cart_quantity" style="width: 20%;">
                                                    <div class="cart_quantity_button">
                                                        <p>{{buy.NumberOfUnits}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
</section>
