<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            <div class="panel panel-default" ng-repeat="cat in vm.categories">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="javascript:void();" ng-click="vm.callProductService(cat.Id);vm.getAttribute(cat.Id)">
                                            <span class="badge pull-right"></span>
                                            {{cat.Name}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="sportswear" class="">
                                    <div class="panel-body">
                                        <ul>
                                            <li ng-repeat="subcategory in cat.SubCategories" ng-click="vm.callProductService(cat.Id,subcategory.Id)">
                                                <a href="#">{{subcategory.Name}}</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div><!--/category-products-->

                        <div class="price-range">
                            <!--price-range-->
                            <h2>Price Range</h2>
                            <div class="well text-center">
                                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                                <b class="pull-left">৳ 0</b> <b class="pull-right">৳ 2000000</b>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Filters</h3>
                                </div>
                                <div class="panel-body" ng-repeat="prop in vm.properties">
                                    <div class="panel-heading">{{prop.Name}}</div>

                                        
                                        <div class="allowed-values" ng-repeat="value in prop.AvailableValues">
                                            <input type="checkbox" class="span2" value="{{value}}" />{{value}}
                                        </div>
                                    
                                </div>
                            </div>

                        </div><!--/price-range-->
                        <div class="price-range">

                        </div>

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <h2 class="title text-center"></h2>
                    <div class="features_items height-250">
                        <!--features_items-->
                        
                        <div class="col-sm-4" ng-repeat="product in vm.products">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{product.ImagePaths[0]}}" alt="" />
                                        <h2>{{product.Prices}}</h2>
                                        <p>{{product.Name}}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>BDT {{product.UnitPrice}}</h2>
                                            <p>{{product.Name}}</p>
                                            <a href="javascript:void();" ng-href="#/productDetails/{{product.Id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>product details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!--features_items-->
                    
                    

                </div>

                <div class="col-sm-9 padding-right margin-1">
                    <h2 class="title text-center">recommended items</h2>
                    <div class="recommended_items">
                        <!--recommended_items-->


                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/App/Styles/Images/samsung-s5.png" alt="" />
                                                    <h2>৳65000</h2>
                                                    <p>Samsung Galaxy S5</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/App/Styles/Images/toyota.png" alt="" />
                                                    <h2>৳600000</h2>
                                                    <p>Toyota 5200</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/App/Styles/Images/lumia-925.jpg" alt="" />
                                                    <h2>৳55000</h2>
                                                    <p>Nokia Lumia 925</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--/recommended_items-->
                </div>
            </div>
        </div>
    </section>
</div>


<style type="text/css">
    .height-250 {
        height: 500px;
        overflow-y:scroll;
        overflow-x:auto
    }
    .margin-1 {
        margin-top:35px;
    }
</style>