<div >
    <section id="form" style="margin-top: 40px; margin-bottom: 40px;">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Login to your account</h2>
                        <label class="text-danger" ng-bind="vm.loginMessage"></label>
                        <form >
                            <input type="text" ng-model="vm.loginModel.userName" placeholder="User Name" />
                            <input type="password" ng-model="vm.loginModel.password" placeholder="Password" />
                            <button ng-click="vm.login()" class="btn btn-default">Login</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        <label class="text-danger" ng-bind="vm.signupMessage"></label>
                        <form >
                            <input type="text" ng-model="vm.signupModel.userName" placeholder="User Name" />
                            <input type="text" ng-model="vm.signupModel.fullName" placeholder="Full Name" />
                            <div style="margin-bottom: 10px;">
                                <div >
                                    <select ng-model="vm.signupModel.sex" ng-init="vm.signupModel.sex = 'Male'">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <input type="text" ng-model="vm.signupModel.addressLine1" placeholder="Address Line 1" />
                            <input type="text" ng-model="vm.signupModel.addressLine2" placeholder="Address Line 2" />
                            <input type="tel" ng-model="vm.signupModel.mobile" placeholder="Mobile" />
                            <input type="email" ng-model="vm.signupModel.email" placeholder="Email" />
                            <input type="password" ng-model="vm.signupModel.password" placeholder="Password" />
                            <input type="password" ng-model="vm.signupModel.confirmPassword" placeholder="Confirm Password" />
                            <button ng-click="vm.signup()" class="btn btn-default">Signup</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
</div>
