<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <label class="text-danger" ng-bind="vm.categoryInfoMessage"></label>
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default" ng-repeat="cat in vm.categories">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="javascript:void(0)" ng-click="vm.GotoCategoryPage(cat.Id)">
                                        <span class="badge pull-right"></span>
                                        {{cat.Name}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{cat.Name}}" class="">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="subcategory in cat.SubCategories">
                                            <a href="javascript:void(0)" ng-click="vm.GotoCategoryPage(subcategory.Id)">{{subcategory.Name}}</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!--/category-products-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="{{vm.product.ImagePaths[0]}}" alt="" />
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <h2 ng-bind="vm.product.Name"></h2>
                            <span>
                                <span>৳ {{vm.product.UnitPrice}}</span>
                                <label>Order Quantity:</label>
                                <input type="text"/>
                                <button type="button" class="btn btn-default cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </span>
                            <p><b>Available Quantity:</b> {{vm.product.NumberOfUnits}}</p>
                            <p><b>Condition:</b> Well</p>
                            <p ng-bind="vm.product.Description"></p>
                            <button type="button" class="btn btn-default cart" style="margin-left: 0;" ng-click="vm.AddToWishlist(vm.product.Id)">
                                <i class="fa fa-arrow-circle-down"></i>
                                Add to wishlist
                            </button>
                            <a class="btn btn-default cart" style="margin-left: 0;" href="#/seller/{{vm.product.PostedUserName}}">
                                <i class="fa fa-user"></i>
                                View Seller
                            </a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews ({{vm.commentsCount}})</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <div ng-repeat="cmnt in vm.comments">
                                    <p><b>Rating: </b>{{cmnt.StarRating}} stars</p>
                                    <p>{{cmnt.Comment}}</p>
                                </div>
                                <div style="{{vm.isReview}}">

                                    <p><b>Write Your Review</b></p>

                                    <form>
                                        <span>
                                            <input type="text" placeholder="Your Name" />
                                            <input type="email" placeholder="Email Address" />
                                        </span>
                                        <textarea name=""></textarea>
                                        <button type="button" class="btn btn-default pull-right">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!--/category-tab-->
                </div>
            </div>
        </div>
    </div>
</section>
