<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#/home">Home</a></li>
                <li class="active">Selling Information</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <label class="text-danger" ng-bind="vm.sellerInfoMessage"></label>
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="description">Category</td>
                        <td class="description">Name</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sellInfo in vm.sellerInfoList">
                        <td class="cart_description" style="width: 40%;">
                            <h4>{{sellInfo.CategoryName}}</h4>
                        </td>
                        <td class="cart_description" style="width: 40%;">
                            <h4><a href="">{{sellInfo.Name}}</a></h4>
                        </td>
                        <td class="cart_price" style="width: 10%;">
                            <p>৳ {{sellInfo.Price}}</p>
                        </td>
                        <td class="cart_quantity" style="width: 10%;">
                            <div class="cart_quantity_button">
                                <p>{{sellInfo.NumberOfUnits}}</p>
                            </div>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</section>
