<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#/home">Home</a></li>
                <li class="active">Seller Information</li>
            </ol>
        </div>
        <img border="0"
             src="https://maps.googleapis.com/maps/api/staticmap?center={{vm.sellerInfoList.User.Address}}&zoom=14&size=300x300" alt="Greenwich, England">

        <div>
            <label class="text-danger" ng-bind="vm.sellerInfoMessage"></label>
            <h2>Seller Information</h2>
            <table class="table">
                <tr>
                    <td>
                        <h4><b>Name:</b> {{vm.sellerInfoList.User.FullName}}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>Address:</b> {{vm.sellerInfoList.User.Address}}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>Mobile:</b> {{vm.sellerInfoList.User.PhoneNumber}}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="color:#32cd32"><b>Rating:</b> {{vm.sellerInfoList.Rating}}</h4>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="description">Name</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sellInfo in vm.sellerInfoList.Products">
                        <td class="cart_description" style="width: 30%;">
                            <h4><a style="color: #d2691e;" ng-href="#/productDetails/{{sellInfo.Id}}/false">{{sellInfo.Name}}</a></h4>
                        </td>
                        <td class="cart_description" style="width: 50%;">
                            <img style="width: 200px; height: 180px;" src="{{sellInfo.ImagePaths[0]}}" alt="" />
                        </td>
                        <td class="cart_price" style="width: 10%;">
                            <p>৳ {{sellInfo.UnitPrice}}</p>
                        </td>
                        <td class="cart_quantity" style="width: 10%;">
                            <div class="cart_quantity_button">
                                <p>{{sellInfo.NumberOfUnits}}</p>
                            </div>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</section>
