<div >
    <section id="form" style="margin-top: 40px; margin-bottom: 40px;">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Login to your account</h2>
                        <label class="text-danger" ng-bind="loginMessage"></label>
                        <form >
                            <input type="email" ng-model="loginModel.email" placeholder="Email" />
                            <input type="password" ng-model="loginModel.password" placeholder="Password" />
                            <span>
                                <input type="checkbox" ng-model="loginModel.keepSignIn" class="checkbox">
                                Keep me signed in
                            </span>
                            <button ng-click="login()" class="btn btn-default">Login</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        <label class="text-danger" ng-bind="signupMessage"></label>
                        <form >
                            <input type="text" ng-model="signupModel.name" placeholder="Name" />
                            <div style="margin-bottom: 10px;">
                                <div >
                                    <select ng-model="signupModel.sex" ng-init="signupModel.sex = 'Sex'">
                                        <option>Sex</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <input type="text" ng-model="signupModel.addressLine1" placeholder="Address Line 1" />
                            <input type="text" ng-model="signupModel.addressLine2" placeholder="Address Line 2" />
                            <input type="tel" ng-model="signupModel.mobile" placeholder="Mobile" />
                            <input type="email" ng-model="signupModel.email" placeholder="Email" />
                            <input type="password" ng-model="signupModel.password" placeholder="Password" />
                            <button ng-click="signup()" class="btn btn-default">Signup</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
</div>
